@{
    ViewBag.Title = "Home Page";
}

<div class="spinner" id="spinner">
    <i class="fas fa-circle-notch fa-spin fa-5x"></i>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="clear10"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's Username" aria-describedby="search" name="txtUsername" id="txtUsername">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-success" value="Save" id="btnSearch" name="btnSearch" onclick="Search()">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="GitHubUserDetails"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Index/Index.js"></script>
    <script>
        $(document).ready(function () {
            $('.spinner').hide();
        });

        function Search() {

            var itemData = {
                Username: document.getElementById("txtUsername").value
            }

            GetGitHubUserData(itemData);
        }

        var urls = {
            getData: '/GitHub/GetGutHubDetails',
        };

        var GetGitHubUserData = function (userrequest) {

            $('.spinner').show();

            $("#GitHubUserDetails").html("");

            $.ajax({
                type: "POST",
                url: urls.getData,
                dataType: 'html',
                headers: {
                    'RequestVerificationToken': gettoken()
                },
                data: userrequest,
                success: function (result) {
                    $("#GitHubUserDetails").html(result);
                    document.getElementById("txtUsername").value = "";
                    $('.spinner').hide();
                }
            });
        };

         function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}